doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        title pugによるトップページ
    body
        #container Hello pug
        //script(src="./pkg/wasmtest2.js" type="module")
        script(src="/js/index.js" type="module")
